/* navbar */
#navbar{
    flex-direction: column;
}

#header .header-content{
    height: 100%;
    width: 100%;
    margin-top: 3rem;
}

#header .main-heading{
    font-size: 1.5rem;
}


/* Section Mission */
#mission .items{
    flex-direction: column;
    text-align: center;
}


/* About us */
#about-us .container{
    flex-direction: column;
}

#about-us .about-left,#about-us .container .about-right
 {
    width: 100%;
}
#about-us .container .about-right .items{
          gap: 2rem;
          margin-top: 2rem;
}

/* section testimonial */

#testimonials .container{
    width: 100%;
}

#testimonials .container .row{
    height: 100%;
    flex-direction: column;
}

#testimonials .container .row .test{
    margin-right: 0;
    margin-bottom: 2rem;
}



/* Contact Us */
#contact-us .container{
    width: 100%;
}



@media (max-width: 500px){
    html{
        font-size: 14px;
    }

    .container{
        padding: 1rem;
    }
    #navbar ul{
        flex-direction: column;
    }
    #navbar ul li {
        margin-bottom: 1rem;
    }
    #navbar ul li a{
        margin-right: 0;
        padding: 0.5rem;
    }

    #header .header-content form{
        width: 90%;
    margin-bottom: 3rem;
    }

    #about-us .container .about-right .items{
        flex-wrap: wrap;
    }

    #mission .items > div img{
        height: 100%;
    }

    #mission .items .item:nth-child(2), #mission .items .item:nth-child(3){
        text-align: left;
    }

    #about-us{
        padding: 0;
    }

    #testimonials .container .row .test{
        padding: 2rem 1rem;
    }
}


