:root{
    --primary-color:#4CAF50;
    --box-dark:#505050;
    --box-light:#DCDCDC;
}

/* Reseting css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

a{
    text-decoration: none;
    
}

/* Utility Class */
.container{
    margin: auto;
    max-width: 1400px;
    padding: 2rem;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #4caf4fd5;

}

.item-heading{
    font-size: 1.5rem;
    font-weight: 700;
}


.middle-heading{
    font-size: 2.3rem;
}

.bg-dark{
    background-color: #333;
    color: white;
}
/* Navbar */

#navbar .logo{
    color: var(--primary-color);
    font-size: 2rem;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

#navbar ul li a{
    color: white;
    padding: 1rem;
    margin-right: 0.5rem;
}

.current{
    border-bottom: 2px solid;
}


/* header content */

#header{
    position: relative;
    background: rgba(0, 0, 0, 0.653);
    color: white;
}
#header::before{
    content: '';
    position: absolute;
    background: url("../img/header.jpg") no-repeat center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#header .main-heading{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}



#header .header-content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#header .header-content p{
    margin-bottom: 1rem;
}

#header .header-content form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 1rem;
}

#header .header-content form input{
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 2px;
    border: 0;
    outline: 0;
}



/* Section Mission */

#mission{
    padding: 2rem;
}

#mission .items{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
}

#mission .items > div{
    flex: 2;
}

#mission .items > div img{
    margin-top: 1rem;
    width: 90%;
    height: 300px;
}

#mission .items .item:nth-child(2),
#mission .items .item:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}


#mission .btn{
    width: 150px;
    text-align: center;
    padding:0.5rem 0.25rem;
    border-radius: 5px;
}


/* section about us */

#about-us{
    padding: 4rem;
}

#about-us .container{
    display: flex;
    margin: auto;
}

#about-us   .about-left{
    width: 40%;
}

.about-left h3{
    font-size: 1.2rem;
}

.about-left p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#about-us  .container .about-right{

    width: 60%;
}
#about-us  .container .about-right .items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: auto;
}

#about-us  .container .about-right .items .item{
    text-align: center;
    width: 250px;
    height: 200px;
    margin-bottom: 1rem;
    background-color: var(--box-light);
    padding: 2rem;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}


#about-us  .container .about-right .items .item:hover{
    background-color: var(--primary-color);
}


/* Section Timeline */

#timeline .container ul li {
    padding-top: 1rem;
    position: relative;
    width: 5px;
    background-color: black;
    margin: auto;
    list-style: none;
}

#timeline .container ul li::after{
    position: relative;
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    background-color: #4CAF50;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
}

#timeline .container ul li:nth-child(even) div{
    left: -434px;
}


#timeline .container ul li > div {
width: 400px;
position: relative;
left: 36px;
background-color: #333;
color: white;
padding:1rem;

}

#timeline .container ul li > div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 5px;
    border-style: solid;
}

#timeline .container ul li:nth-child(odd) > div::before {
left: -16px;
border-width: 8px 16px 8px 0;
border-color: transparent orange transparent transparent;
}

#timeline .container ul li:nth-child(even) > div::before {
    left: 400px;
border-width: 8px 0 8px 16px;
border-color: transparent transparent transparent orange;

}


@media (max-width:903px) {
#timeline .container ul li > div {
    width: 230px;
}
#timeline .container ul li:nth-child(even) div{
    left: -251px;
}
#timeline .container ul li:nth-child(even) > div::before {
    left: 230px;
}
}


@media (max-width:550px) {

#timeline .container ul li > div{
        width: calc(100vh - 130px);
}
#timeline .container ul li:nth-child(even) div{
    left: 36px;
}
#timeline .container ul li {
    margin-left: 1rem;
}
#timeline .container ul li:nth-child(even) > div::before {
    border-width: 8px 16px 8px 0;
    border-color: transparent orange transparent transparent;
    left: -16px;

}

}
/* Section testmonials */

#testimonials{
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.852);
}

#testimonials .container{
    width: 80%;
    margin: auto;
}

#testimonials .container .row{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
#testimonials .container .row .test{
    padding: 2rem 3rem;
    margin-right: 1rem;
    background-color: #505050;
    color: white;
}

.test-img {
    width:80px ;
    height: 80px;
    margin-bottom: 1rem;
}

.test-img img{
    width: 100%;
    transition: all 1s ease;
}

.test-img img:hover{
    transform: scale(1.2);
}

#testimonials .container .row .test .test-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/* section contact us */

#contact-us .container{
    width: 50%;
    margin: auto;
}

#contact-us .container .middle-heading{
    text-align: center;
    margin-bottom: 2rem;
}

#contact-us .container form{
        display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: auto;
}
#contact-us .container form input{
    padding: 0.7rem 0.5rem;
    outline: orange;
}

#contact-us .container form textarea{
    height: 150px;
}

#contact-us .container form input[type="submit"]{
    border: 0;
}


/* footer */
#footer p{
    padding: 2rem;
    text-align: center;
    background-color: black;
    color: white;
}